* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: rgb(0, 176, 240);
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  height:15%;
  margin: 0 2% 0;
  font-family: 'Sirin Stencil', cursive;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

#main-container {
  display: flex;
  height: 80%;
}

#intro { /*instrucciones*/
  width: 25%;
  background: darkgray;
  font-size: 16px;
  color: white;
  padding: 30px;
  /*margin: 5px; */
  line-height: 1.3em;
}

ol{
  font-size: 14px;
}

main {
  width: 75%;
  padding: 80px; 
  background: white;
}

form {
  display: none;
  width: 80%;
  height: 60%;
  /* position: absolute; */
  padding: 40px;
  border-top: 1px solid #abc;
}

textarea {
  width: 90%;
  height: 80%;
  resize: none;
  border: 1px dotted rgba(170, 187, 204, 0.7);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  padding: 1px;
}

.rbDisplay {
  display: none;
}

.tabRB {
  display: inline-block;
  height: 12%;
  width: 14%;
  font-size: 22px;
  letter-spacing: 0.02em;
  margin: 0 0 -3px;
  /*padding: 15px 25px; */
  font-weight: bold;
  text-align: center;
  color: #555;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border: 1px solid transparent;
  
}

.tabRB:hover {
  color: #789;
  cursor: pointer;
  font-style: oblique;
}

:checked + .tabRB {
  color: #0af;
  border: 1px solid #abc;
  border-top: 3px solid #0af;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #form-1,
#tab2:checked ~ #form-2 {
  display: block;
}

footer{
  text-align: right;
  padding: 5px;
}

a:link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: underline;}